doctype html
html
    head
        meta(charset="utf-8")
        meta(name="author" content="Xinyi Li")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="OwOindie Generator")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title="OwOindie Generator"
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|ZCOOL+KuaiLe" rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="node_modules/reset-css/reset.css")
        link(rel="stylesheet", type="text/css", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    block content
